.Rhistory
.DS_Store

/.quarto/
.Rproj.user







lectures/L04-mc-error_cache/html/unnamed-chunk-6_943b49cf280e250f6f9666a7c5ce9e81.RData
lectures/L04-mc-error_cache/html/unnamed-chunk-6_943b49cf280e250f6f9666a7c5ce9e81.rdb
lectures/L04-mc-error_cache/html/unnamed-chunk-6_943b49cf280e250f6f9666a7c5ce9e81.rdx
lectures/L04-mc-error-2_cache/html/unnamed-chunk-6_ae5dd8b962c82dd7471596c7a21cef8f.rdx
lectures/L04-mc-error-2_cache/html/unnamed-chunk-6_ae5dd8b962c82dd7471596c7a21cef8f.rdb
*.rdx
*.rdb
*.RData
*.rdx
*.RData
lectures/.DS_Store
